.add-a-review {
    font-weight: 600;
    font-size: 36px;
}

.my-experience-was {
    font-weight: 500;
    font-size: 24px;
}

.padding {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.ratings-box {
    display: flex;
    flex-flow: column;
    align-items: start;

    width: fit-content;
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: end;
}