.add-a-review {
    font-weight: 600;
    font-size: 36px;
}

.padding {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.ratings-box {
    background: #f3f3f3;
    outline-style: solid;
    outline-color: #f3f3f3;

    display: flex;
    flex-flow: column;
    align-items: start;

    border-radius: 12pt;
    width: fit-content;
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: end;
}