.row {
    display: flex; 
    flex-flow: row;
    justify-content: start;
    align-items: start;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .row {
      /* Styles for screens smaller than 600px */
      /* For example: */
      flex-flow: column;
    }
  }

.col {
    display: flex; 
    flex-flow: column;
}

.section-title {
    font-weight: 600;
    font-size: 36px;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
    width: fit-content;
}

.ratings-box {
    background: #ffffff;
    outline-style: solid;
    outline-color: #d8d8d8;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    border-radius: 12pt;
    width: fit-content;
}

.ratings {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

.review-bg {
    width: 900px;
    height: fit-content;
    padding: 30px 0px 30px 0px;
    border-radius: 30px;
    border-width: 5px;
    background-color: rgba(245, 235, 149, 0.683);
    display: flex;
    flex-flow: row;
    align-items: center;
}

.vertical-line {
    height: 100px;
    width: 1;
    border-right: 3px solid #000000;
}

.duck-img {
    background-image: url(./assets/duck1.svg);
    background-size: 90px;
    width: 90px;
    height: 90px;
}

.user {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin-left: 40px;
}

.review {
    display: flex;
    flex-flow: column;
    align-items: start;

    width: 375px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: -15px;
}

.review-title {
    padding-bottom: 10px;
}

.user-rating-categories {
    display: flex;
    flex-flow: column;
    align-items: start;

    margin-left: 30px;
}

.user-ratings {
    display: flex;
    flex-flow: column;
    align-items: end;

    margin-left: 30px;
}

.text {
    display: flex;
    flex-flow: row;
}

.bold {
    font-weight: bold;
}

.list-item {
    margin-top: 20px;
}
