.row {
    display: flex; 
    flex-flow: row;
}

.section-title {
    font-weight: 600;
    font-size: 36px;
    font-style: italic;
    text-decoration: underline;
    color: #707070;
}

.ratings-box {
    background: #ffffff;
    outline-style: solid;
    outline-color: #d8d8d8;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    border-radius: 12pt;
    width: fit-content;
}

.ratings {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

.review-bg {
    background-image: url(./assets/Review.svg);
    background-size: 900px;
    width: 900px;
    height: 210px;
    border: 2px solid;
    color: #000000;

    display: flex;
    flex-flow: row;
    align-items: center;
}

.vertical-line {
    height: 100px;
    width: 1;
    border-right: 3px solid #000000;
}

.duck-img {
    background-image: url(./assets/duck1.svg);
    background-size: 90px;
    width: 90px;
    height: 90px;
}

.user {
    display: flex;
    flex-flow: column;
    align-items: center;

    margin-left: 40px;
}

.review {
    display: flex;
    flex-flow: column;
    align-items: start;

    width: 375px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: -15px;
}

.review-title {
    padding-bottom: 10px;
}

.user-rating-categories {
    display: flex;
    flex-flow: column;
    align-items: start;

    margin-left: 30px;
}

.user-ratings {
    display: flex;
    flex-flow: column;
    align-items: end;

    margin-left: 30px;
}

.text {
    display: flex;
    flex-flow: row;
}

.bold {
    font-weight: bold;
}