.row {
    display: flex; 
    flex-flow: row;
}

.ratings-box {
    background: #ffffff;
    outline-style: solid;
    outline-color: #d8d8d8;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    border-radius: 12pt;
    width: 400px;
}

.ratings {
    margin-top: 50px;
    margin-bottom: 50px;
}