h5 {
  text-align: left;
}

.TabbedHeader {
  display: flex;
  flex-direction: column;
}

.TopHeader {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.LoginButton {
  background-color: #e4e3e3;
  color: black;
  border-radius: 5px;
  border: none;
  align-content: center;
  padding: 5px 15px 0px 15px;
}

.Tabs {
  display: flex;
  flex-direction: row;
}

.UniversitiesTab {
  flex: 1;
  padding: 10px 15px 5px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: #e0d03b;
  border-width: 2px;
  border-style: solid;
  background-color: white;
}

.UniversitiesTab:hover {
  background-color: #ddd;
}
.UniversitiesTab:active {
  background-color: #ccc;
}

.CoursesTab {
  flex: 1;
  padding: 10px 15px 5px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: none;
  border-color: #e0d03b;
  border-width: 2px;
  border-style: solid;
  background-color: white;
}

.CoursesTab:hover {
  background-color: #ddd;
}

.CoursesTab:active {
  background-color: #ccc;
}
