h4 {
    text-align: left;
}

.TabbedHeader {
    display: flex;
    flex-direction: column;
}

.TopHeader{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.LoginButton {
    background-color: #E4E3E3;
    color: black;
    border-radius: 5px;
    border: none;
    align-content: center;
    padding: 5px 25px 0px 25px;
}

.Tabs {
    display: flex;
    flex-direction: row;
}

.UniversitiesTab {
    flex: 1;
    padding: 10px 15px 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: gold;
    border-width: 2px;
    border-style: solid;
    background-color: white;
}

.UniversitiesTab:hover {
    background-color: #ddd;
}
.UniversitiesTab:active {
    background-color: #ccc;
}

.CoursesTab {
    flex: 1;
    padding: 10px 15px 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
    border-color: gold;
    border-width: 2px;
    border-style: solid;
    background-color: white;
}

.CoursesTab:hover {
    background-color: #ddd;
}

.CoursesTab:active {
    background-color: #ccc;
}