click
dnspython
Flask
flask_marshmallow
flask_migrate
flask_appbuilder
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
python-dateutil
python-dotenv
selenium
setuptools
six
Werkzeug
zipp
